In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import glob

In [12]:
import os
import pandas as pd
import pyarrow.parquet as pq

# Path to the folder containing the Parquet files
folder_path = 'data/'

# Get a list of all Parquet files in the folder
file_list = [file for file in os.listdir(folder_path) if file.endswith('.parquet')]

# Initialize an empty list to store individual DataFrames
dfs = []

# Read and append each Parquet file to the list
for file in file_list:
    file_path = os.path.join(folder_path, file)
    df = pd.read_parquet(file_path, engine='pyarrow')
    print(df.shape)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
full_df = pd.concat(dfs)

# Print the resulting DataFrame
full_df

(295918, 10)
(497743, 10)
(289937, 10)
(251824, 10)
(276146, 10)
(311849, 10)
(99303, 10)
(101412, 10)
(97263, 10)
(596011, 10)
(166237, 10)
(623064, 10)
(327610, 10)
(830195, 10)
(174910, 10)
(345444, 10)
(488966, 10)
(671990, 10)
(787777, 10)
(113744, 10)
(151929, 10)
(176985, 10)
(229792, 10)
(253670, 10)
(8159719, 10)

,rtctime,lat,lon,target_temperature,feature_c,feature_ct,feature_motorspeed,ambient_temp,car_speed,soc
0,1672911588170,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
1,1672911588180,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
2,1672911588190,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
3,1672911588200,68.860123,18.346718,-4.281718,21.361129,-1.0,70.731707,-3.9,1.050000,84.199997
4,1672911588210,68.860123,18.346718,-4.281718,21.361129,-1.0,70.731707,-3.9,1.110000,84.199997
...,...,...,...,...,...,...,...,...,...,...
253665,1673371992330,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000
253666,1673371992340,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.8,65.410004,51.000000
253667,1673371992350,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.8,65.410004,51.000000
253668,1673371992360,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000
253669,1673371992370,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000

In [9]:
full_df.shape

(8159719, 10)

In [10]:
full_df.reset_index()

,index,rtctime,lat,lon,target_temperature,feature_c,feature_ct,feature_motorspeed,ambient_temp,car_speed,soc
0,0,1672911588170,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
1,1,1672911588180,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
2,2,1672911588190,68.860123,18.346718,-4.281718,20.947325,-1.0,68.902439,-3.9,1.050000,84.199997
3,3,1672911588200,68.860123,18.346718,-4.281718,21.361129,-1.0,70.731707,-3.9,1.050000,84.199997
4,4,1672911588210,68.860123,18.346718,-4.281718,21.361129,-1.0,70.731707,-3.9,1.110000,84.199997
...,...,...,...,...,...,...,...,...,...,...,...
8159714,253665,1673371992330,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000
8159715,253666,1673371992340,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.8,65.410004,51.000000
8159716,253667,1673371992350,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.8,65.410004,51.000000
8159717,253668,1673371992360,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000
8159718,253669,1673371992370,64.251831,20.245625,52.802200,7.737465,6.0,3387.195122,-3.7,65.410004,51.000000

In [11]:
full_df.to_parquet('data/full_data.parquet')